@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:wght@200;300&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,900;1,100&family=Quicksand:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
    color:#ece5e5;
}
body::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background:linear-gradient(rgb(243, 243, 242),rgb(117, 25, 109));
    clip-path:circle(20% at right 90%);
}
body::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background:linear-gradient(rgb(235, 250, 29),rgb(243, 244, 241));
    clip-path:circle(20% at 10% 10%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d3253;
    
}
.section{
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
}
.box{
    padding: 40px;
    border: 1px;
    border-radius:5% ;
    background-color: rgb(239, 254, 249);
    box-shadow:20px 20px 40px rgba(0,0,0,0.4);
    border-radius: 14px;
    background:#0d3253 ;
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(4px);
   
}
h1{
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}
.content{
    display: flex;
    justify-content: space-between;
    padding:20px;
}
.degree p{
    padding-left: 7px;
    font-weight: 100;
}
.type p{
    padding-left: 7px;
    font-weight: 100;
}
input, select{
    width: 200px;
    padding: 10px 10px;
    border: none; 
    font-size: 16px;
    color: #ece5e5;
    outline: none; 
    background: transparent;
    border-bottom: 1px solid #bbb7b7;
    margin-right: 20px;
}
.result{
    align-items: left;
    font-weight: 100;
    padding-left: 30px;
}
.input3{
    margin-left: -10px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color: rgb(68, 68, 224);
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 20px;
}
.btn:hover{
    
    background-color:rgb(16, 16, 239);
}